{% extends 'scripture/layout.html' %}
{% load static %}
{% load scripture_extras %}



{% block content %}
<section id="id_about-scripture">
    <p>
        الكتاب المقدس هو اقدم كتاب لم ينقطع تداولة حول العالم، هو الكتاب الأكثر قراءة وتوزيع فى تاريخ البشرية، هو الكتاب الوحيد الذى ترجم لأغلب اللغات اذ ترجم لحوالى 2000 لغة، هو أكثر كتاب صدر عنه دراسات وابحاث، وأكثر كتاب أوحى برسم لوحات، مقطوعات موسيقية، شعر، ادب، مسرحيات، وأفلام، هو الكتاب الوحيد الذى جمع عشرات الانبياء الذين دونوا بأمانه كلام الرب الإله وفق ما أوحى لهم بالروح القدس.
    </p>
    <p>
        يتكون من 66 سفر"كتاب" (39 سفر بالعهد القديم، 27 سفر بالعهد الجديد):
    </p>
    <h5>
        <u>أولاً: العهد القديم،</u>
    </h5>
    <ul class="books-categories__list">
        <li>
            (1) التوراة
        </li>
        <li>
            (2) الأسفار التاريخية
        </li>
        <li>
            (3) أسفار الأنبياء
        </li>
        <li>
            (4) أسفار الآدب والحكمة
        </li>
    </ul>

    <h5>
        <u>ثانياً: العهد الجديد</u>
    </h5>
    <ul class="books-categories__list">
        <li>
            (1) الإنجيل بحسب المبشرين الأربعة
        </li>
        <li>
            (2) سفر أعمال الرسل
        </li>
        <li>
            (3) الرسائل
        </li>
        <li>
            (4) سفر الرؤيا
        </li>
    </ul>

    <p>
        يوثق الكتاب المقدس أحداث 8000 سنة من بدء الخليقة إلى السيد المسيح، حيث تمت كتابته على مدار حوالى 1600 سنة من خلال 40 كاتب، بدءً من التوراة سنة 1500 قبل الميلاد بيد النبى موسي بن عمرام وصولاً لسفر الرؤيا سنه 90 ميلادياً بيد الرسول يوحنا بن زبدى.
    </p>

    <p>
        يحتوى هذا الموقع على نسخة عربية من الكتاب المقدس مترجمة مباشرة من اللغات الاصلية (العبرية / الآرامية / اليونانية) وهي الترجمة المعتمدة والمستخدمة فى الكنيسة الارثوذكسية المصرية والمعروفة بترجمة فاندايك "Van Dyck".
    </p>

    <p>
        يمكنك فتح السفر بالضغط على أسمة.. ابدأ التصفح <span style="font-size: x-large;"><a href="{% url 'books' %}">من هنا</a></span>
    </p>
</section>
{% endblock %}