{% extends 'scripture/layout.html' %}
{% load static %}



{% block content %}
    <div id="id_books__title">
        <h1 class="text-center shadow-lg p-3 mb-5 bg-body rounded">شخصيات الكتاب المقدس</h1>
    </div>

    <div id="id_under-construction__perview">
        <img src="{% static 'scripture/img/under_construction.jpeg' %}" alt="Under Construction, COMMING SOON!">
    </div>
    <div id="id_under-construction__txt">
        <h4>Under Construction</h4>
        <h3>COMMING SOON</h3>
    </div>
{% endblock %}
    