{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'scripture/img/favicon.ico' %}" />
    <link
      rel="stylesheet"
      href="{% static 'scripture/bootstrap5/css/bootstrap.rtl.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'scripture/bootstrap5/css/bootstrap.rtl.min.css.map' %}"
    />
    <link rel="stylesheet" href="{% static 'scripture/css/style.css' %}" />
    <script src="{% static 'scripture/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripture/js/script.js' %}"></script>

    {% block script %}{% endblock %}

    <title>Church</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">الكتاب المقدس</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link {%if '/search' in request.path%}active{%endif%}"
                  href="{% url 'search' %}"
                  aria-current="page"
                  >البحث</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {%if '/books' in request.path%}active{%endif%}"
                  href="{% url 'books' %}"
                  aria-current="page"
                  >الاسفار</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {%if '/characters' in request.path%}active{%endif%}"
                  href="{% url 'characters' %}"
                  >الشخصيات</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {%if '/places' in request.path%}active{%endif%}"
                  href="{% url 'places' %}"
                  >الاماكن</a>
              </li>
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a
                  class="nav-link {%if '/blogs' in request.path%}active{%endif%}"
                  href="{% url 'blogs' %}"
                  >المدونات</a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a
                  class="nav-link {%if '/guide' in request.path%}active{%endif%}"
                  href="{% url 'guide' %}"
                  >دليل الموقع</a>
              </li>
              <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
            </ul>

            {% if user.is_authenticated %}
            <div class="btn-group ms-auto">
              <button
                type="button"
                class="btn btn-dark dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              > مرحباً {{user.first_name}} {{user.last_name}}
              </button>
              <ul class="dropdown-menu dropdown-menu-start">
                <li><a class="dropdown-item" href="#">الإعدادات</a></li>
                <li><a class="dropdown-item" href="#">البروفيل</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">خروج</a></li>
              </ul>
            </div>
            {% else %}
            <a
              id="id_login__link"
              class="ms-auto nav-link"
              href="{% url 'login' %}"
              >تسجيل الدخول</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <!-- THE MAIN SECTION -->
    <main>
      <div class="container">{% block content %}{% endblock %}</div>
    </main>

    <!-- THE FOOTER SECTION -->
    <footer class="text-center">
      <p>الكتاب المقدس الإلكتروني @ 2020</p>
    </footer>
  </body>
</html>
