/* Font Installation */
@font-face {
  font-family: rakkas;
  src: url("../fonts/Rakkas/Rakkas-Regular.ttf");
}

@font-face {
  font-family: amiri;
  src: url("../fonts/Amiri/Amiri-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: cairoBold;
  src: url("../fonts/Cairo/Cairo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: cairoRegular;
  src: url("../fonts/Cairo/Cairo-Regular.ttf");
  font-weight: normal;
}

header {
  /* -webkit-text-stroke: 2px black; */
  background-image: url("../img/navbar-img.jpg");
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: rakkas;
}

footer {
  background-image: url("../img/navbar-img.jpg");
  width: 100%;
  height: 1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: rakkas;
}

main {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#id_under-construction__perview {
  min-height: 100%;
}

#id_under-construction__perview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-brand {
  font-size: 2rem;
  color: #ffffff;
}

.dropdown-menu {
  min-width: 3rem;
}

#id_login__link {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.55);
}

#id_login__link:hover {
  color: #000000;
  cursor: pointer;
}

#id_user-favorites__flag img {
  width: 2.5rem;
}

#id_user-location__flag img {
    width: 2.5rem;
}

#id_user-location__flag:hover, #id_user-favorites__flag:hover {
    cursor: pointer;
}

#id_search__section {
  background-image: url("../img/navbar-img.jpg");
}

#id_search-group {
  display: flex;
}

#id_search-group button {
  font-family: rakkas;
  font-size: 1.4rem;
  width: 5rem;
}

#id_search-group input {
  font-family: amiri;
}

nav ul {
  font-size: 1.5rem;
}

#id_about-scripture {
  font-family: rakkas;
}

#id_about-scripture p {
  font-size: 1.2rem;
}

.books-categories__list li {
  display: inline;
  margin-left: 1rem;
  font-size: 1.1rem;
}

#id_books__title,
#id_search__title {
  font-family: rakkas;
}

.table thead {
  font-family: rakkas;
  font-size: 1.3rem;
}

.table tbody {
  font-family: amiri;
  font-size: 1.2rem;
}

.cc_book-title__link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.cc_book-title__link:hover {
  text-decoration: underline;
}

#id_chapters__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cc_chapter-number__link {
  font-size: 1.7rem;
}

.cc_chapter-title__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cc_chapter-title__header > h3 {
    margin-top: 0.5rem;
}

.cc_chapter__title {
  font-family: rakkas;
}

.cc_chapter__title::before {
  display: block;
  content: " ";
  margin-top: -5rem;
  height: 5rem;
  visibility: hidden;
  pointer-events: none;
}

.cc_chapter-control__icon:hover {
  cursor: pointer;
}

.cc_chapter__content {
  text-align: justify;
  line-height: 220%;
}

.cc_verse-txt {
  display: inline;
  font-family: amiri;
  font-size: 1.2rem;
}

.cc_verse-num {
  font-family: "Amiri";
  color: #ff0000;
  font-size: 0.7rem;
  vertical-align: super;
}

#id_under-construction__txt {
  display: none;
  text-align: center;
}

/* SEARCH SECTION */
#id_fields-options__checks {
  font-family: cairoBold;
}

#id_search-results__preview h5 {
  font-family: rakkas;
}

#id_search-results__preview p {
  font-family: amiri;
}

.cc_verse__link {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
}

#id_fav-verses__perview {
  font-family: amiri;
}

#id_fav-verses__perview li {
  border: olive 1px solid;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* Generals */
.cc_input-label {
  font-family: cairoBold;
}

.cc_input-control {
  font-family: cairoBold;
}

.cc_note-paragraph {
  font-family: cairoBold;
  font-size: 0.8rem;
}

.form-text {
  font-family: cairoRegular;
}

/* CSS Modifications */

.alert {
  font-family: cairoRegular;
}

/* MEDIA QUERIES */
@media (max-width: 35rem) {
  .browser-only {
    display: none;
  }
  #id_books__tbl {
    text-align: center;
  }
}

@media (max-width: 30rem) {
}

@media (max-width: 19.5rem) {
  #id_under-construction__perview {
    display: none;
  }

  #id_under-construction__txt {
    display: block;
  }
}
